<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
     -->
    <div class="container bcolor">
        <h1 class="alignleft"></h1>
        <h1 class="aligncenter"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> My Node Application</h1>
        <div class="alignright ">
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    <!-- <% if (locals.user){%>
                        <p>user=</p><%= locals.user %>
                    <%}%> -->
                   
                    <% if (locals.user.google.token){%> 
                        <!-- <p>
                            <strong>id</strong>: <%#= user.google.id %><br>
                            <strong>token</strong>: <%#= user.google.token %><br>
                            <strong>email</strong>: <%#= user.google.email %><br>
                            <strong>name</strong>: <%#= user.google.name %>
                        </p> --> 
            
                         <a href="/unlink/google" class="btn btn-danger">Unlink <span class="fa fa-google-plus"></span></a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connect <span class="fa fa-google-plus"></span></a>
                        <% } %>         
        </div>                            
    </div>
    <%-include('./stylescss') %> 
</head>