
    <div class="disp subheading">
        <h1 class="subheadingcaption"><span class="fa fa-anchor"></span> Category</h1>        
    </div>
  
    <div class="bod">
     <div class="row">
        <div class="col-sm-6">
            <div class="cbox">
                <h3 class="text-danger"><span class="	fa fa-edit"></span> Categories <i class="fa fa-plus" id="myBtn" style="float: right; margin-right: 100px" (click)="openModal(template)"></i></h3>
                    <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button> -->
                    <ng-template #template>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Add Category</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <form #f="ngForm">
                            <label for="name">Category Name</label>
                            <input type="text" ngModel #name required/>
                            <div *ngIf="!name.value && name.touched " class="error">
                                Name is required
                              </div>
                            <button [disabled]="!name.value" type="button" class="btn" (click)="addCat(name.value)">Add</button>
                        </form>
                      </div>
                    </ng-template>                
                    <ng-template #updtemplate>
                        <div class="modal-header">
                          <h4 class="modal-title pull-left">Edit Category</h4>
                          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form >
                                <input type="hidden" #id value={{modalService.config.initialState.id}}/>
                              <label for="name">Category Name </label>
                              <input type="text" #name value={{modalService.config.initialState.name}}/>
                              <button type="button" class="btn" (click)="editCat(id.value,name.value)">Edit</button>
                          </form>
                        </div>
                      </ng-template> 
                  <div style="max-height: 400px; overflow: auto"> 
                  <table cellspacing="20" cellpadding="10" class="table table-hover" >                                           
                      <tr *ngFor="let item of cat"
                      [@itemState]=item.state
                      (mouseover)="toggleState(item)"
                      (mouseleave)="toggleState(item)"
                      >
                          <td> {{item.name}}</td>                                    
                          <td><span class="fa fa-minus-square" id=item._id (click)="deleteCat(item._id)"></span></td>  
                          <td><i class="fa fa-pencil-square-o" (click)="openModal(updtemplate,item)"></i></td>
                      </tr>
                    </tbody>                                                 
                  </table>
                </div>           
            </div>
        </div>
      </div>

     


<!-- [@itemState]=item.state
                          (click)="toggleState(item)"                           -->