<!--The content below is only a placeholder and can be replaced.-->

    <div class="disp bcolor">
        <h1 class="alignleft"></h1>
        <h1 class="aligncenter"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> My Node Application</h1>
        <div class="alignright ">
                    <a href="/logout" class="btn btn-default">Logout</a>
                    
                         <!-- <a href="/unlink/google" class="btn btn-danger">Unlink <span class="fa fa-google-plus"></span></a> -->
                      
                            <a href="/connect/google" class="btn btn-danger">Connect <span class="fa fa-google-plus"></span></a>
                            
        </div>                            
    </div>
   
